/* ----- utilities start----- */
span{
    font-size: 65px;
}
h1{
    color: #262626;
    font-size: 44px;
}
p{
    font-size: 16px;
    color: #868FA1;
}
.services{
    padding: 40px;
    margin: 10px 0;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.09);
}
/* ----- utilities end----- */

/* ----- header start ----- */
header{
    background: rgba(0, 0, 0, .6) url(../images/bg-1.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
/* ----- header end ----- */
.counter{
    background: url(../images/bg-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
}
.counter h1{
    color: #fff;
}
.counter span{
    color: #fff;
    font-size: 12px;
}