/* ----- utilities start----- */
span{
    font-size: 65px;
}
h1{
    color: #262626;
    font-size: 44px;
}
p{
    font-size: 16px;
}
body, main, footer{
    overflow-x: hidden;
}
/* ----- utilities end----- */

/* ----- header start ----- */
header{
    background: rgba(0, 0, 0, .6) url(../images/bg-1.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
header p{
    color: #fff;
}
/* ----- header end ----- */

/* services start */
.services{
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.09);
}
.services .service{
    padding: 16px;
    margin: 10px 0;
    transition: 0.6s ease-in;
    overflow: hidden;
}
.services .service:hover{
    border: 1px dotted #000;
    transform: scale(1.1);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.09);
}
/* services end */

/* counter start */
.counter{
    background: url(../images/bg-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
}
.counter h1{
    color: #fff;
}
.counter span{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    border-top: 3px solid #CE7A2D;
}
/* counter end */

/* portfolio start */
.portfolio{
    margin-top: 100px;
    margin-bottom: 100px;
}
.portfolio h1{
    margin-bottom: 20px;
    text-align: center;
}
.portfolio p{
    width: 40%;
    text-align: center;
    margin-bottom: 50px;
}
.portfolio img{
    opacity: 1;
    display: block;
    transition: 0.5s ease-in-out;
}
.portfolio .project{
    position: relative;
    background-color: rgba(205, 122, 45, 0.8);
}
.portfolio .project .project-info{
    position: absolute;
    transition: 0.5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(50%, 50%);
    opacity: 0;
}
.portfolio .project:hover img{
    opacity: 0.4;
}
.portfolio .project:hover .project-info{
    opacity: 1;
}
.portfolio .project .text{
    padding: 10px 22px;
    background-color: #fff;
    font-size: 36px;
    border-radius: 50%;
}
.project .text a{
    color: #000;
    font-size: 36px;
    text-decoration: none;
}
/* portfolio end */

/* team start */
.team{
    margin-top: 80px;
    margin-bottom: 80px;
}
.team h1{
    color: #262626;
    text-align: center;
}
.team p{
    width: 50%;
    color: #868FA1;
    text-align: center;
}
.member{
    position: relative;
    background-color: rgb(206, 123, 45);
}
.member .member-info h6{
    font-size: 18px;
}
.member .member-info p{
    font-size: 16px;
}
.member .member-info{
    position: absolute;
    transition: .5s ease;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    -ms-transform: translate(50%, 90%);
    opacity: 0;
}
.member-info h6{
    color: #000;
}
.member-info p{
    color: #141414;
}
.team .member img{
    transition: 0.5s ease-in-out;
}
.team .member:hover img{
    opacity: 0.4;
}
.team .member:hover .member-info{
    opacity: 1;
}
.member-social-id li{
    margin: 0 15px;
    list-style-type: none;
}
.member-social-id a{
    color: #000;
    font-size: 30px;
    text-decoration: none;
}
.fab{
    transition: 0.3s ease-in;
}
.fa-facebook:hover{
    color: #1778F2;
}
.fa-linkedin-in:hover{
    color: #0e76a8;
}
.fa-dribbble:hover{
    color: #ea4c89;
}
.fa-github-alt:hover{
    color: #211F1F;
}
/* team end */
